<!DOCTYPE>
<html>
<head>
  <link href="/bower_components/toastr/toastr.css" rel="stylesheet"/>
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/index.css" rel="stylesheet"/>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/toastr/toastr.min.js"></script>
  <script src="/app/index.js"></script>
</head>

<body ng-app="app">
  <div class="container">
    <div ng-controller="NotificationsController" class="well">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <input type="text" class="form-control" ng-model="message" placeholder="Message" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <button class="btn btn-success" ng-click="success(message)" ng-disabled="!message">Success</button>
          <button class="btn btn-danger" ng-click="error(message)" ng-disabled="!message">Error</button>
          <button class="btn btn-warning" ng-click="warning(message)" ng-disabled="!message">Warning</button>
          <button class="btn btn-info" ng-click="info(message)" ng-disabled="!message">Info</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
